# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=your-secret-key

# PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5434/dbname?schema=public

# Mock API
MOCK_API_BASE_URL=http://localhost:3000/mock-api
